In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException

In [2]:
driver = webdriver.Chrome(r"C:\Users\chawl\Documents\chromedriver_win32\chromedriver.exe")

# Q1

In [19]:
# getting the url
url = "https://www.amazon.in/"
driver.get(url)
#performing search
search = driver.find_element_by_id("twotabsearchtextbox")
# asking user input
userinput=input("Please enter the value to be searched: ")
search.send_keys(userinput)
# submitting the user search
search_bt = driver.find_element_by_id("nav-search-submit-button")
search_bt.click()

Please enter the value to be searched: guitar

# Q2

In [20]:

i=0
time.sleep(2)
url=[]
# getting all the product URL's
while i<2:
    
    ul = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
    for r in ul:
        url.append(r.get_attribute("href"))
    i+=1
    try: 
        nt = driver.find_element_by_xpath("//li[@class='a-last']")
        nt.click()
    except:
        nt = driver.find_element_by_xpath("//*[@id='search']/div[1]/div/div[1]/div/span[3]/div[2]/div[54]/span/div/div/ul/li[7]/a")
        next_url = nt.get_attribute("href")
        driver.get(next_url)
    time.sleep(2)

In [21]:
# creating lists of the required data
n=[]
price=[]
rating=[]
total_rating=[]
delivery=[]
availability=[]
brand=[]
returndel=[]
other=[]
# fetching the data from the product URL's
for i in url[:]:
    driver.get(i)
    time.sleep(2)

    try:
        n.append(driver.find_element_by_xpath("//h1[@class='a-size-large a-spacing-none']").text)
    except NoSuchElementException:
        n.append("-")
    try:
        price.append(driver.find_element_by_xpath("//span[@id='priceblock_ourprice']").text)
    except NoSuchElementException:
        price.append("-")
    try:
        rating.append(driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']").text)
    except NoSuchElementException:
        rating.append("-")
    try:
        total_rating.append(driver.find_element_by_xpath("//*[@id='reviewsMedley']/div/div[1]/div[2]/div[2]/span").text)
    except NoSuchElementException:
        total_rating.append("-")
    try:
        delivery.append(driver.find_element_by_xpath("//*[@id='ddmDeliveryMessage']/b").text)
    except NoSuchElementException:
        delivery.append("-")    
    try:
        availability.append(driver.find_element_by_xpath("//*[@id='availability']/span").text)
    except NoSuchElementException:
        availability.append("-") 
    try:
        brand.append(driver.find_element_by_xpath("//*[@id='productOverview_feature_div']/div/table/tbody/tr[1]/td[2]/span").text)
    except NoSuchElementException:
        brand.append("-") 
    try:
        returndel.append(driver.find_element_by_xpath("//*[@id='RETURNS_POLICY']/span/div[2]/a").text)
    except NoSuchElementException:
        returndel.append("-")
    try:
        other.append(driver.find_element_by_xpath("//*[@id='feature-bullets']").text)
    except NoSuchElementException:
        other.append("-")

In [22]:
# creating the dataframe
amazon = pd.DataFrame({
            "name":n,
"price":price,
"rating":rating,
"total_ratings":total_rating,
"delivery":delivery,
"availability":availability,
"brand":brand,
"return":returndel,
"other":other,
"URL":url
        })
amazon.head()

,name,price,rating,total_ratings,delivery,availability,brand,return,other,URL
0,Kadence Frontier Jumbo Semi Acoustic Guitar Wi...,-,3.9 out of 5,868 global ratings,"Monday, July 12",In stock.,Kadence,7 Days Replacement,About this item\nQUALITY STRINGS ---The surfac...,https://www.amazon.in/gp/slredirect/picassoRed...
1,"JUAREZ Arpéggio 41 Inch Acoustic Guitar Kit, S...","₹ 6,049.00",4 out of 5,11 global ratings,"Wednesday, July 7",Only 1 left in stock.,JUAREZ,7 Days Replacement,"About this item\nGlossy finish, Number of fret...",https://www.amazon.in/gp/slredirect/picassoRed...
2,"Kadence Frontier Series,Blue Acoustic Guitar W...",-,4 out of 5,249 global ratings,"Monday, July 12",In stock.,Kadence,7 Days Replacement,About this item\nProduct Type : Acoustic Guita...,https://www.amazon.in/gp/slredirect/picassoRed...
3,Kadence Slowhand Premium Jumbo Semi Acoustic G...,-,4.2 out of 5,223 global ratings,"Monday, July 12",In stock.,Kadence,7 Days Replacement,About this item\nQUALITY STRINGS ---The surfac...,https://www.amazon.in/gp/slredirect/picassoRed...
4,"Juârez Acoustic Guitar, 38 Inch Cutaway, 038C ...","₹ 2,499.00",3.9 out of 5,"10,750 global ratings","Friday, July 9",In stock.,Juârez,7 Days Replacement,"About this item\nBlack Glossy Finish, Number o...",https://www.amazon.in/Juarez-Acoustic-Cutaway-...

In [23]:
#saving to csv file
amazon.to_csv("Amazon.csv")

# Q3

In [24]:
url = "https://images.google.com"
driver.get(url)
#performing search
search = driver.find_element_by_xpath("//*[@id='sbtc']/div/div[2]/input")
search.send_keys("fruits")
search_bt = driver.find_element_by_xpath("//*[@id='sbtc']/button")
search_bt.click()

In [25]:
# scrolling to load more data
driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")

In [26]:
# fetching all the elements
fruits=driver.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")

In [27]:
# storing all the URL's for image for fruits
fruit = []
for i in fruits:
    fruit.append(i.get_attribute("src"))

In [28]:
url = "https://images.google.com"
driver.get(url)
#performing search
search = driver.find_element_by_xpath("//*[@id='sbtc']/div/div[2]/input")
search.send_keys("cars")
search_bt = driver.find_element_by_xpath("//*[@id='sbtc']/button")
search_bt.click()

In [29]:
# scrolling to load more data
driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")

In [30]:
# fetching all the elements
cars=driver.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")

In [31]:
# storing all the URL's for image for fruits
car = []
for i in cars:
    car.append(i.get_attribute("src"))

In [32]:
url = "https://images.google.com"
driver.get(url)
#performing search
search = driver.find_element_by_xpath("//*[@id='sbtc']/div/div[2]/input")
search.send_keys("Machine Learning")
search_bt = driver.find_element_by_xpath("//*[@id='sbtc']/button")
search_bt.click()

In [33]:
# scrolling to load more data
driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")

In [34]:
# fetching all the elements
ML=driver.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")

In [35]:
# storing all the URL's for image for fruits
Machine = []
for i in ML:
    Machine.append(i.get_attribute("src"))

In [36]:
# creating the dataframe
data = pd.DataFrame({
            "fruits":fruit,
    "cars":car,
    "Machine Learning":ML
        })
data.head()

,fruits,cars,Machine Learning
0,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...",<selenium.webdriver.remote.webelement.WebEleme...
1,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...",<selenium.webdriver.remote.webelement.WebEleme...
2,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...",<selenium.webdriver.remote.webelement.WebEleme...
3,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...",<selenium.webdriver.remote.webelement.WebEleme...
4,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...",<selenium.webdriver.remote.webelement.WebEleme...

# Q4

In [38]:
url = "https://www.flipkart.com/"
driver.get(url)
#performing search
search_job1 = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_job1.send_keys('mi note')

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [39]:
# getting all the URL's
url=[]
ul = driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
for r in ul:
    url.append(r.get_attribute("href"))

In [40]:
# creating the list of all the required data
brand=[]
Smartphone=[]
colour=[]
RAM=[]
ROM=[]
PCamera=[]
SCamera=[]
DisplaySize=[]
DisplayResolution=[]
Processor=[]
Cores=[]
Battery=[]
Price=[]

# getting all the data from the product URL's
for i in url[:]:
    driver.get(i)
    time.sleep(2)
    btn = driver.find_element_by_xpath("//button[@class='_2KpZ6l _1FH0tX']")
    btn.click()
    try:
        brand.append(driver.find_element_by_xpath("//h1[@class='a-size-large a-spacing-none']").text)
    except NoSuchElementException:
        brand.append("-")
    try:
        Smartphone.append(driver.find_element_by_xpath("//span[@class='B_NuCI']").text)
    except NoSuchElementException:
        Smartphone.append("-")
    try:
        colour.append(driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']").text)
    except NoSuchElementException:
        colour.append("-")
    try:
        RAM.append(driver.find_element_by_xpath("//*[@id='reviewsMedley']/div/div[1]/div[2]/div[2]/span").text)
    except NoSuchElementException:
        RAM.append("-")
    try:
        ROM.append(driver.find_element_by_xpath("//*[@id='ddmDeliveryMessage']/b").text)
    except NoSuchElementException:
        ROM.append("-")    
    try:
        PCamera.append(driver.find_element_by_xpath("//*[@id='availability']/span").text)
    except NoSuchElementException:
        PCamera.append("-") 
    try:
        SCamera.append(driver.find_element_by_xpath("//*[@id='productOverview_feature_div']/div/table/tbody/tr[1]/td[2]/span").text)
    except NoSuchElementException:
        SCamera.append("-") 
    try:
        DisplaySize.append(driver.find_element_by_xpath("//*[@id='RETURNS_POLICY']/span/div[2]/a").text)
    except NoSuchElementException:
        DisplaySize.append("-")
    try:
        DisplayResolution.append(driver.find_element_by_xpath("//*[@id='feature-bullets']").text)
    except NoSuchElementException:
        DisplayResolution.append("-")
    try:
        Processor.append(driver.find_element_by_xpath("//*[@id='feature-bullets']").text)
    except NoSuchElementException:
        Processor.append("-")
    try:
        Cores.append(driver.find_element_by_xpath("//*[@id='feature-bullets']").text)
    except NoSuchElementException:
        Cores.append("-")
    try:
        Battery.append(driver.find_element_by_xpath("//*[@id='feature-bullets']").text)
    except NoSuchElementException:
        Battery.append("-")
    try:
        Price.append(driver.find_element_by_xpath("//*[@id='feature-bullets']").text)
    except NoSuchElementException:
        Price.append("-")

In [42]:
# creating the dataframe
flipkart = pd.DataFrame({
   "brand":brand,
"Smartphone":Smartphone,
"colour":colour,
"RAM":RAM,
"ROM":ROM,
"PCamera":PCamera,
"SCamera":SCamera,
"DisplaySize":DisplaySize,
"DisplayResolution":DisplayResolution,
"Processor":Processor,
"Cores":Cores,
"Battery":Battery,
"Price":Price,   
 "URL":url      
})

In [43]:
# saving to csv file
flipkart.to_csv("flipkart.csv")

# Q5

In [44]:
url = "https://www.google.com/maps/"
driver.get(url)
#performing search
search = driver.find_element_by_xpath("//input[@class='tactile-searchbox-input']")
userinput=input("Please enter the value to be searched: ")
search.send_keys(userinput)
search_bt = driver.find_element_by_xpath("//button[@class='searchbox-searchbutton']")
search_bt.click()

Please enter the value to be searched: delhi

In [45]:
get_url = driver.current_url
# using regex to get the required longitude and latitutde from the URL
import re
Latitude= "\@(-?[\d\.]*)"
Longitude= "\@[-?\d\.]*\,([-?\d\.]*)"
x = re.search(Latitude, get_url)
y = re.search(Longitude, get_url)

In [46]:
# printing latitude and longitude
print("Latitude -> " + x[1])
print("Longitude -> " + y[1])

Latitude -> 28.6466773
Longitude -> 76.8130696

# Q6

In [34]:
# getting the URL
url = "https://trak.in/india-startup-funding-investment-2015/"
driver.get(url)
# creating the lists for the required data elements
date=[]
name=[]
vertical=[]
subvertical=[]
location=[]
investor=[]
investtype=[]
amount=[]

In [61]:
# fetching the data
quarter=[50,49]
for quat in quarter:
    flag=0
    while flag==0:
        for i in range(1,11):
            try:
                date.append(driver.find_element_by_xpath("//*[@id='tablepress-"+str(quat)+"']/tbody/tr["+ str(i)+"]/td[2]").text)
                name.append(driver.find_element_by_xpath("//*[@id='tablepress-"+str(quat)+"']/tbody/tr["+ str(i)+"]/td[3]").text)
                vertical.append(driver.find_element_by_xpath("//*[@id='tablepress-"+str(quat)+"']/tbody/tr["+ str(i)+"]/td[4]").text)
                subvertical.append(driver.find_element_by_xpath("//*[@id='tablepress-"+str(quat)+"']/tbody/tr["+ str(i)+"]/td[5]").text)
                location.append(driver.find_element_by_xpath("//*[@id='tablepress-"+str(quat)+"']/tbody/tr["+ str(i)+"]/td[6]").text)
                investor.append(driver.find_element_by_xpath("//*[@id='tablepress-"+str(quat)+"']/tbody/tr["+ str(i)+"]/td[7]").text)
                investtype.append(driver.find_element_by_xpath("//*[@id='tablepress-"+str(quat)+"']/tbody/tr["+ str(i)+"]/td[8]").text)
                amount.append(driver.find_element_by_xpath("//*[@id='tablepress-"+str(quat)+"']/tbody/tr["+ str(i)+"]/td[9]").text)
            except:
                flag=1
                break
        try:
            button = driver.find_element_by_xpath("//*[@id='tablepress-"+str(quat)+"_next']")
            button.click()
            time.sleep(2)
        except:
            break

In [63]:
# creating the dataframe
data = pd.DataFrame({
            "date":date,
"name":name,
"vertical":vertical,
"subvertical":subvertical,
"location":location,
"investor":investor,
"investtype":investtype,
"amount":amount
        })
data.head()

,date,name,vertical,subvertical,location,investor,investtype,amount
0,08/09/2020,Byju’s,EduTech,Online Tutoring,Bangalore,"Silver Lake, Tiger Global, General Atlantic an...",Private Equity,"500,000,000"
1,12/09/2020,mCaffeine,Personal Care,Skincare & Haircare,Mumbai,"Amicus Capital Private Equity I LLP, Amicus Ca...",Series B,"3,000,000"
2,09/09/2020,Qshala,EduTech,Online Curiosity Platform for Kids,Bangalore,Rainmatter Capital,Angel,"370,000"
3,02/09/2020,Winzo,Online Gaming,Online Gaming,New Delhi,"Kalaari Capital Partners, IndigoEdge Managemen...",Series B,"15,500,000"
4,09/09/2020,Hippo Video,Video Customer Experience(CX) Platform,Video Customer Experience(CX) Platform,"Newark, Delaware, United States of Amercia","Alpha Wave Incubation, Exfinity Venture Partne...",Series A,"4,500,000"

# q7

In [47]:
url = "https://www.digit.in//"
driver.get(url)
#performing search
search = driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/div[4]/ul/li[9]/a")
url = search.get_attribute("href")
driver.get(url)

In [48]:
product=[]
seller=[]
Price=[]
for i in range(2,9):
    st1 = "//*[@id='summtable']/tbody/tr[" + str(i) + "]/td[1]"
    st2 = "//*[@id='summtable']/tbody/tr[" + str(i) + "]/td[2]"
    st3 = "//*[@id='summtable']/tbody/tr[" + str(i) + "]/td[3]"
    data1 = driver.find_element_by_xpath(st1).text
    data2 = driver.find_element_by_xpath(st2).text
    data3 = driver.find_element_by_xpath(st3).text
    product.append(data1)
    seller.append(data2)
    Price.append(data3)

In [51]:
# creating the dataframe
data = pd.DataFrame({
            "product":product,
    "seller":seller,
    "Price":Price
        })
data.head()

                  product  seller    Price
0   Alienware Area 51M R2     N/A      N/A
1        Alienware m15 R3     N/A  ₹341990
2  ASUS ROG Strix Scar 15     N/A      N/A
3   Asus ROG Zephyrus G14  amazon  ₹164990
4        Lenovo Legion 5i     N/A   ₹71990

# q8

In [62]:
# fetching the URL
url = "https://www.forbes.com/billionaires/"
driver.get(url)

In [58]:
# creating the list of elements
rank=[]
name=[]
net=[]
age=[]
country=[]
source=[]
industry=[]

In [63]:
# fetching all the data
import time
while True:
    
    data1 = driver.find_elements_by_xpath("//div[@class='rank']")
    data2 = driver.find_elements_by_xpath("//div[@class='personName']")
    data3 = driver.find_elements_by_xpath("//div[@class='netWorth']")
    data4 = driver.find_elements_by_xpath("//div[@class='age']")
    data5 = driver.find_elements_by_xpath("//div[@class='countryOfCitizenship']")
    data6 = driver.find_elements_by_xpath("//div[@class='source']")
    data7 = driver.find_elements_by_xpath("//div[@class='category']")
    for i in data1:
        rank.append(i.text)
    for i in data2:
        name.append(i.text)
    for i in data3:
        net.append(i.text)
    for i in data4:
        age.append(i.text)
    for i in data5:
        country.append(i.text)
    for i in data6:
        source.append(i.text)
    for i in data7:
        industry.append(i.text)
    try:
        search_bt = driver.find_element_by_xpath("//*[@id='gatsby-focus-wrapper']/div/div/div[3]/div[2]/div[2]/div[2]/div[27]/div[7]/div[2]/button[2]")
        search_bt.click()
        time.sleep(2)
    except:
        break;

In [64]:
# creating the dataframe
data = pd.DataFrame({
           
"rank":rank,
"name":name,
"net":net,
"age":age,
"country":country,
"source":source,
"industry":industry
        })
data.head()

,rank,name,net,age,country,source,industry
0,1.,Jeff Bezos,$177 B,,United States,Amazon,
1,2.,Elon Musk,$151 B,,United States,"Tesla, SpaceX",
2,3.,Bernard Arnault & family,$150 B,,France,LVMH,
3,4.,Bill Gates,$124 B,,United States,Microsoft,
4,5.,Mark Zuckerberg,$97 B,,United States,Facebook,

# q9

In [67]:
# fetching the url
url = "https://www.youtube.com/watch?v=O6Iiy_YOe4Y&ab_channel=TBS"
driver.get(url)

In [70]:
# scrolling till the end of the comments
while True:
    scroll_height = 2000
    document_height_before = driver.execute_script("return document.documentElement.scrollHeight")
    driver.execute_script(f"window.scrollTo(0, {document_height_before + scroll_height});")
    time.sleep(10)
    document_height_after = driver.execute_script("return document.documentElement.scrollHeight")
    if document_height_after == document_height_before:
        break

In [71]:
# fetching data
data1 = driver.find_elements_by_xpath("//div[@class='style-scope ytd-expander']")
data2 = driver.find_elements_by_xpath("//*[@id='header-author']/yt-formatted-string/a")
data3 = driver.find_elements_by_xpath("//*[@id='vote-count-middle']")

In [72]:
# storing data in the list
comment=[]
upvote=[]
time=[]
for i in range(2,502):
    comment.append(data1[i].text)

for i in range(0,500):
    time.append(data2[i].text)

for i in range(0,500):
    upvote.append(data3[i].text)

In [73]:
# creating the dataframe
data = pd.DataFrame({
'comment':comment,
'upvote':upvote,
'time':time
        })
data.head()

,comment,upvote,time
0,"If only we had the power to wash away ""Friends...",19K,10 months ago
1,Monica doesn't get enough credit for her fashi...,1.8K,2 months ago (edited)
2,No one’s talking about how exited Chandler was...,1.2K,3 months ago
3,"Ross' first word in the Friends - ""hi"". Ben's ...",573,3 weeks ago
4,"""we only did it once\n""It didn't mean anything...",277,1 month ago (edited)

# Q10

In [76]:
# fetching the URL
url = "https://www.hostelworld.com/"
driver.get(url)

In [77]:
# searching the city
import time
search = driver.find_element_by_xpath("//*[@id='__layout']/div/div[1]/div[1]/div/div[2]/div[4]/div/div[2]/div/div[1]/div")
search.click()
search = driver.find_element_by_xpath("//*[@id='search-input-field']")
search.send_keys("London")

time.sleep(5)
search_bt = driver.find_element_by_xpath("//*[@id='predicted-search-results']/li[2]")
search_bt.click()
time.sleep(3)
search_bt = driver.find_element_by_xpath("//*[@id='search-button']")
search_bt.click()
time.sleep(4)

In [78]:
# creating the list of elements
import time
from selenium.common.exceptions import NoSuchElementException
name=[]
distance=[]
rating=[]
treviews=[]
oreviews=[]
pprice=[]
dprice=[]
discription=[]
facilities=[]
url=[]

# fetching the elements
while True:
    for i in driver.find_elements_by_xpath("//*[@class='title title-6']/a"):
        try:
            name.append(i.text)
        except NoSuchElementException:
            name.append("-")
    for i in driver.find_elements_by_xpath("//span[@class='description']"):
        try:
            distance.append(i.text)
        except NoSuchElementException:
            distance.append("-")
    for i in range(3,33):
        try:
            pprice.append(driver.find_element_by_xpath("//*[@id='__layout']/div/div[1]/div[4]/div/div/div[" + str(i) + "]/div[3]/a[1]/div[1]/div").text)
        except NoSuchElementException:
            pprice.append("-")
        try:
            dprice.append(driver.find_element_by_xpath("//*[@id='__layout']/div/div[1]/div[4]/div/div/div[" + str(i) + "]/div[3]/a[1]/div[2]/div").text)
        except NoSuchElementException:
            dprice.append("-")
    for i in driver.find_elements_by_xpath("//*[@class='facilities-label facilities']"):
        facilities.append(i.text)
    
    ul = driver.find_elements_by_xpath("//*[@class='title title-6']/a")
    for i in ul:
        url.append(i.get_attribute("href"))
    
    try:
        search = driver.find_element_by_xpath("//div[@class='pagination-item pagination-next']")
        search.click()
        time.sleep(5)
    except:
        break;
        
# fetching the elements by opening the places
for i in url:
        driver.get(i)
        time.sleep(2)
        try:
            rating.append(driver.find_element_by_xpath("//*[@id='__layout']/div/div[1]/section/div[6]/div/div[1]/div[1]/div[1]").text)
        except NoSuchElementException:
            rating.append("-")
        try:
            treviews.append(driver.find_element_by_xpath("//*[@id='__layout']/div/div[1]/section/div[6]/div/div[1]/div[1]/div[1]").text)
        except NoSuchElementException:
            treviews.append("-")
        try:
            oreviews.append(driver.find_element_by_xpath("//*[@id='__layout']/div/div[1]/section/div[6]/div/div[1]/div[1]/div[2]/div[1]/span").text)
        except NoSuchElementException:
            oreviews.append("-")    
        try: 
            exp=driver.find_element_by_xpath("//*[@id='__layout']/div/div[1]/section/div[6]/div/div[2]/div/div/a")
            exp.click()
        except:
            try:
                discription.append(driver.find_element_by_xpath("//*[@id='__layout']/div/div[1]/section/div[6]/div/div[2]/div/div/div[2]").text)
            except NoSuchElementException:
                discription.append("-")  
        try:
            discription.append(driver.find_element_by_xpath("//*[@id='__layout']/div/div[1]/section/div[6]/div/div[2]/div/div/div[2]").text)
        except NoSuchElementException:
            discription.append("-")

In [109]:
discription=list(set(discription))

In [110]:
# creating the dataframe
data = pd.DataFrame({
"name":name,
"distance":distance,
"rating":rating,
"treviews":treviews,
"oreviews":oreviews,
"pprice":pprice,
"dprice":dprice,
"discription":discription,
"facilities":facilities
})
data.head()

,name,distance,rating,treviews,oreviews,pprice,dprice,discription,facilities
0,St Christopher's Village,Hostel - 1.8km from city centre,8.9,8.9,Fabulous,Rs3408,Rs1332,,Free WiFi\nFollows Covid-19 sanitation guidance
1,Generator London,Hostel - 3km from city centre,7.5,7.5,Very Good,Rs8572,Rs2169,Kip is on a mission to bring the world style a...,Free WiFi\nFollows Covid-19 sanitation guidance
2,Safestay London Kensington Holland Park,Hostel - 5.9km from city centre,7.9,7.9,Very Good,Rs4181,Rs1022,The Victor Hotel is a 3-star London hotel set ...,Free WiFi
3,"PubLove @ The Crown, Battersea",Hostel - 4.7km from city centre,7.9,7.9,Very Good,Rs11898,Rs1239,PLEASE NOTE: The Triple room has one double be...,Free WiFi\nFollows Covid-19 sanitation guidance
4,Leman House,Hostel - 3.6km from city centre,No Rating\n0 Total Reviews,No Rating\n0 Total Reviews,-,Rs5577,Rs1652,Hotel Shepherds Bush London'' provide 4 star h...,Free WiFi