In [1]:
!pip install selenium

Collecting selenium
  Downloading selenium-3.141.0-py2.py3-none-any.whl (904 kB)
Requirement already satisfied: urllib3 in c:\users\chawl\anaconda3\lib\site-packages (from selenium) (1.25.11)
Installing collected packages: selenium
Successfully installed selenium-3.141.0

In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [227]:
driver = webdriver.Chrome(r"C:\Users\chawl\Documents\chromedriver_win32\chromedriver.exe")

# Q1

In [99]:
url = "https://www.naukri.com/"
driver.get(url)
#performing search
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [100]:
#Gathering differnet details
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles =[]
for i in title[:10]:
    job_titles.append(i.text)
name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name =[]
for i in name[:10]:
    company_name.append(i.text)
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_required =[]
for i in experience[:10]:
    experience_required.append(i.text)
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location=[]
for i in location[:10]:
    job_location.append(i.text)

In [101]:
#Creating a dataframe
jobs_data = pd.DataFrame({
            "Job_Title": job_titles,
             "Company_Name": company_name,
             "Experience_Required": experience_required,
             "Job_location":job_location
        })

In [102]:
#verifing the data
jobs_data.head()

,Job_Title,Company_Name,Experience_Required,Job_location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Analyst,Novel Office,0-3 Yrs,Bangalore/Bengaluru
2,Data analysts,IBM India Pvt. Limited,5-6 Yrs,Bengaluru/Bangalore
3,Data Analyst (2positions)//immediate Joiners//...,Tech Mahindra Ltd.,4-8 Yrs,Bangalore/Bengaluru
4,Data analysts,IBM India Pvt. Limited,3-5 Yrs,Bangalore/Bengaluru

# Q2

In [103]:
url = "https://www.naukri.com/"
driver.get(url)
# performing search
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')
search_loc=driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [104]:
# Gathering the details
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles =[]
for i in title[:10]:
    job_titles.append(i.text)
name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name =[]
for i in name[:10]:
    company_name.append(i.text)
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location=[]
for i in location[:10]:
    job_location.append(i.text)

In [105]:
#gathering details and if details are not present in class using different class
from selenium.common.exceptions import NoSuchElementException
search = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_desc =[]
link=[]
for i in search:
    url=i.get_attribute('href')
    link.append(url)

for url in link[:10]:
    try:
        driver.get(url)
        data = driver.find_element_by_xpath("//section[@class='job-desc']")
        job_desc.append(data.text)
    except NoSuchElementException:
        data = driver.find_element_by_xpath("//section[@class='getJobDescription JD av_textblock_section']")
        job_desc.append(data.text)

In [106]:
#creating data frame
jobs_data = pd.DataFrame({
            "Job_Title": job_titles,
             "Company_Name": company_name,
             "Job_Desc": job_desc,
             "Job_location":job_location
        })

In [107]:
#verifying the data
jobs_data.head()

,Job_Title,Company_Name,Job_Desc,Job_location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,Job description\nJob Role : Data Scientist/Dat...,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Senior / Lead Data Scientist,TVS CREDIT SERVICES LIMITED,Job description\n\nKey Responsibilities\nBe re...,"Pune, Chennai, Bangalore/Bengaluru"
2,data scientist,Global Talent Pool,Job description\nEssential Duties Responsibili...,Bangalore/Bengaluru
3,Data analytics / Data scientist intern (work f...,TalkValley LLC,Job description\nWe are a group of tenured pro...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR"
4,Senior Data Scientist,RedBus,Job Description\nJob Role: Senior Data Scienti...,Bangalore/Bengaluru

# Q3

In [20]:
url = "https://www.naukri.com/"
driver.get(url)
# performing search
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [21]:
#performing filter
search_loc=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
search_loc.click()

In [22]:
#performing filter
search_loc=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
search_loc.click()

In [23]:
#gathering the data
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_titles =[]
for i in title[:10]:
    job_titles.append(i.text)
name = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_name =[]
for i in name[:10]:
    company_name.append(i.text)
experience = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_required =[]
for i in experience[:10]:
    experience_required.append(i.text)
location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location=[]
for i in location[:10]:
    job_location.append(i.text)

In [24]:
#craeting the dataframe
jobs_data = pd.DataFrame({
            "Job_Title": job_titles,
             "Company_Name": company_name,
             "Experience_Required": experience_required,
             "Job_location":job_location
        })

In [25]:
#verifying the data
jobs_data.head()

,Job_Title,Company_Name,Experience_Required,Job_location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data analytics / Data scientist intern (work f...,TalkValley LLC,0-5 Yrs,"Kolkata, Bangalore/Bengaluru, Delhi / NCR"
2,Chaayos is Looking For Data Scientist,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs,New Delhi
3,Data Scientist,Fractal Analytics,3-7 Yrs,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru"
4,Junior Data Scientist,R Systems International Ltd.,3-5 Yrs,Noida(Sector-59 Noida)

# Q4

In [337]:
url = "https://www.glassdoor.co.in/index.htm"
driver.get(url)
#performing search
search_job1 = driver.find_element_by_id('sc.keyword')
search_job1.send_keys('Data Scientist')
search_job2 = driver.find_element_by_id('sc.location')
driver.find_element_by_id('sc.location').clear()
search_job2.send_keys('Noida')

In [338]:
search_btn = driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn.click()

In [339]:
# getting all the URL's
jobs = driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']")
url=[]
for i in jobs:
    url.append(i.get_attribute('href'))

In [341]:
# gathering the data
comp=[]
rating=[]
days=[]
d = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
for i in d[:10]:
    days.append(i.text)

In [343]:
for ur in url:
    driver.get(ur)
    time.sleep(2)
    comp.append(driver.find_element_by_xpath("//div[@class='css-16nw49e e11nt52q1']").text)
    try:
        rating.append(driver.find_element_by_xpath("//span[@class='css-1pmc6te e11nt52q4']").text)
    except NoSuchElementException:
        rating.append('-')

In [344]:
#slicing to get top 10 rows
comp = comp[:10]
rating = rating[:10]

In [345]:
#creating the dataframe
jobs_d = pd.DataFrame({
             "Company_Name": comp,
             "rating": rating,
             "days ago":days
        })

# Q5

In [20]:
url = "https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url)
#performing search
search_job1 = driver.find_element_by_id('KeywordSearch')
search_job1.send_keys('Data Scientist')
search_job2 = driver.find_element_by_id('LocationSearch')
driver.find_element_by_id('LocationSearch').clear()
search_job2.send_keys('Noida')
search_btn = driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [23]:
# gathering the data
company = driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
nsalary = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']")
rating = driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
avgsalary = driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
minsalary = driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']")

In [51]:
#converting data into suitable forms
comp =[]
nsal=[]
rat=[]
avgsal=[]
minsal=[]
maxsal=[]
for i in company[:10]:
    comp.append(i.text)
for i in nsalary[:10]:
    nsal.append(i.text)
for i in rating[:10]:
    rat.append(i.text)
for i in avgsalary[:10]:
    avgsal.append(i.text)
for i in minsalary[:10]:
    st = i.text.split("\n")
    minsal.append(st[0])
    maxsal.append(st[1])

In [52]:
#creating the dataframe
jobs_data = pd.DataFrame({
            "Company": comp,
             "number fo salaries": nsal,
             "rating": rat,
             "average salary":avgsal,
             "minimum salary": minsal,
             "maximum salary": maxsal,
        })

In [53]:
#verifying the dataframe
jobs_data.head()

,Company,number fo salaries,rating,average salary,minimum salary,maximum salary
0,Tata Consultancy Services,17 salaries,3.9,"₹ 6,15,289\n /yr",₹343K,"₹1,250K"
1,IBM,15 salaries,3.9,"₹ 9,00,000\n /yr",₹587K,"₹2,734K"
2,Accenture,14 salaries,4,"₹ 11,48,366\n /yr",₹578K,"₹2,217K"
3,Ericsson-Worldwide,14 salaries,4,"₹ 7,39,238\n /yr",₹355K,"₹1,615K"
4,Delhivery,14 salaries,3.8,"₹ 12,41,763\n /yr",₹451K,"₹11,640K"

# Q6

In [84]:
url = "https://www.flipkart.com/"
driver.get(url)
#performing search
search_job1 = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_job1.send_keys('Sunglasses')

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [98]:
#gathering the data
import time
n=[]
discription=[]
pr=[]
discou=[]

while(True):
    time.sleep(2)
    name = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    disc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    price = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    discount = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i in name:
        if(len(n)<100):
            n.append(i.text)
        else:
            break
    for i in disc:
        if(len(discription)<100):
            discription.append(i.text)
        else:
            break
    for i in price[:40]:
        if(len(pr)<100):
            pr.append(i.text)
        else:
            break
    for i in discount[:40]:
        if(len(discou)<100):
            discou.append(i.text)
        else:
            break
    if(len(n)>=100):
        break
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [99]:
#creating the dataframe
sunglasses_data = pd.DataFrame({
            "Company": n,
             "Discription": discription,
             "Price": pr,
             "Discount":discou,
        })
sunglasses_data.head()

,Company,Discription,Price,Discount
0,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
1,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹541,32% off
4,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off

# Q7

In [102]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART"
driver.get(url)

In [103]:
#gathering the data
rat = []
shortdisc=[]
discription=[]
while(True):
    time.sleep(2)
    rating = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    short = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    disc = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in rating:
        if(len(rat)<100):
            rat.append(i.text)
        else:
            break
    for i in short:
        if(len(shortdisc)<100):
            shortdisc.append(i.text)
        else:
            break
    for i in disc:
        if(len(discription)<100):
            discription.append(i.text)
        else:
            break
    if(len(rat)>=100):
        break
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

In [104]:
#creating the dataframe
sunglasses_data = pd.DataFrame({
            "Rating": rat,
             "review_summary": discription,
             "short review": shortdisc,
        })
sunglasses_data.head()

  Rating                                     review_summary       short review
0      5  The Best Phone for the Money\n\nThe iPhone 11 ...          Brilliant
1      5  Amazing phone with great cameras and better ba...   Perfect product!
2      5  Amazing Powerful and Durable Gadget.\n\nI’m am...      Great product
3      5  Previously I was using one plus 3t it was a gr...  Worth every penny
4      5  This is my first iOS phone. I am very happy wi...          Fabulous!

# Q8

In [111]:
url = "https://www.flipkart.com/"
driver.get(url)
#perforing search
search_job1 = driver.find_element_by_xpath("//input[@class='_3704LK']")
search_job1.send_keys('sneakers')

search_btn = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [114]:
#getting all the links
url = []
while(len(url)<100):
    time.sleep(2)
    search= driver.find_elements_by_xpath("//a[@class='_2UzuFa']")
    for i in search:
        url.append(i.get_attribute('href'))
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()

40
40
40

In [120]:
# gathering the data from pages
import time
from selenium.common.exceptions import NoSuchElementException
n=[]
discription=[]
pr=[]
discou=[]

for ur in url[:100]:
    driver.get(ur)
    time.sleep(2)
    try:
        name = driver.find_element_by_xpath("//span[@class='G6XhRU']")
        n.append(name.text)
    except NoSuchElementException:
        n.append("-")
    try:
        disc = driver.find_element_by_xpath("//span[@class='B_NuCI']")
        discription.append(disc.text)
    except NoSuchElementException:
        discription.append("-")
    try:    
        price = driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        pr.append(price.text)
    except NoSuchElementException:
        pr.append("-")
    try:    
        discount = driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        discou.append(discount.text)
    except NoSuchElementException:
        discou.append("-")

In [121]:
# creating the dataframe
sneakers = pd.DataFrame({
            "Company": n,
             "Discription": discription,
             "Price": pr,
             "Discount":discou,
        })
sneakers.head()

,Company,Discription,Price,Discount
0,Chevit,Super 445 Fashion Sneakers For Men (Navy),₹348,30% off
1,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹365,44% off
2,Nilatin,White Sneaker for Men Sneakers For Men (White),₹407,68% off
3,JUBENTA,Latest Design Sneakers For Men (White),₹521,47% off
4,Robbie jones,Casual Sneakers White Shoes For Men Sneakers F...,₹499,50% off

# Q9

In [146]:
url = "https://www.myntra.com/shoes"
driver.get(url)
#performing search
search_bt = driver.find_element_by_xpath("//label[text()='Rs. 6649 to Rs. 13099']")

In [148]:
search_bt.click()

In [149]:
search_btn = driver.find_element_by_xpath("//label[text()='Black']")
search_btn.click()

In [151]:
# garthering the data
import time
from selenium.common.exceptions import NoSuchElementException
    
n = []
disc=[]
price=[]
while(True):
    time.sleep(2)
    name = driver.find_elements_by_xpath("//h3[@class='product-brand']")
    discription = driver.find_elements_by_xpath("//h4[@class='product-product']")
    cost = driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in name:
        if(len(n)<100):
            n.append(i.text)
        else:
            break
    for i in discription:
        if(len(disc)<100):
            disc.append(i.text)
        else:
            break
    for i in cost:
        if(len(price)<100):
            price.append(i.text)
        else:
            break
    if(len(n)>=100):
        break
    driver.find_element_by_xpath("//li[@class='pagination-next']").click()

In [154]:
# creating dataframe
shoes = pd.DataFrame({
            "Company": n,
             "Discription": disc,
             "Price": price,
        })
shoes.head()

  Company                     Discription                        Price
0    Nike     Men JORDAN DELTA Basketball                    Rs. 12495
1    Nike       Women REACT Running Shoes   Rs. 7796Rs. 11995(35% OFF)
2    Nike     Men ZOOM FREAK 2 Basketball   Rs. 7721Rs. 10295(25% OFF)
3    Nike    Men KD13 EP Basketball Shoes                    Rs. 12995
4    Nike  Unisex LEBRON XVIII Basketball  Rs. 12316Rs. 17595(30% OFF)

# Q10

In [346]:
url = "https://www.amazon.in/"
driver.get(url)
#performing search
search_job1 = driver.find_element_by_id("twotabsearchtextbox")
search_job1.send_keys('Laptop')
search_bt = driver.find_element_by_id("nav-search-submit-button")
search_bt.click()
time.sleep(3)

In [347]:
#filtering the search 
search = driver.find_element_by_xpath("//span[text()='Intel Core i7']")
search.click()
time.sleep(3)

In [348]:
search = driver.find_element_by_xpath("//span[text()='Intel Core i9']")
search.click()
time.sleep(3)

In [350]:
#gathering all the product URL
ul = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
url=[]
for i in ul:
    url.append(i.get_attribute("href"))

In [353]:
#gathering info from the URL's
n=[]
price=[]
rating=[]
for i in url[:10]:
    driver.get(i)
    time.sleep(2)
    try:
        n.append(driver.find_element_by_xpath("//h1[@class='a-size-large a-spacing-none']").text)
    except NoSuchElementException:
        n.append("-")
    try:
        price.append(driver.find_element_by_xpath("//span[@id='priceblock_ourprice']").text)
    except NoSuchElementException:
        price.append("-")
    try:
        rating.append(driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']").text)
    except NoSuchElementException:
        rating.append("-")

In [355]:
#creating the dataframe
shoes = pd.DataFrame({
            "Title": n,
             "Price": price,
             "Rating": rating,
        })
shoes.head()

,Title,Price,Rating
0,"Dell Inspiron 5410 14"" FHD Touch Display 2in1 ...","₹ 97,990.00",-
1,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"₹ 54,999.00",4.4 out of 5
2,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"₹ 26,990.00",3.1 out of 5
3,HP Pavilion (2021) Thin & Light 11th Gen Core ...,"₹ 84,990.00",4.5 out of 5
4,(Renewed) ASUS ROG Strix Scar II GL504GM-ES155...,"₹ 1,46,192.00",-